<%- include('../includes/head.ejs') %>
  <%- include('../includes/navigation.ejs') %>
  <%- include('../shared/store_nested_navigation', { store: store, nestedData: nestedData }) %>
  <main>
    <form class="store-form" action="/admin/<% if (editing) { %>update-tower<% } else { %>create-tower<% } %>" 
      method="POST">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" name="name" id="name" class="form-control" value="<% if (editing) { %><%= tower.name %><% } %>">
      </div>

      <div class="mb-3">
        <label for="harbor_towerid" class="form-label">Harbor Towerid</label>
        <input type="text" name="harbor_towerid" class="form-control" id="harbor_towerid" value="<% if (editing) { %><%= tower.harbor_towerid %><% } %>">
      </div>

      <div class="mb-3">
        <label for="role" class="form-label">Category</label>
        <select class="form-select" name="category" aria-label="Default select example">
          <option value="">Please select</option>
          <% for (let category of categories) { %>
            <% if (editing) { %>
              <option value="<%= category._id %>" <% if ( category._id == tower.category._id.toString()) { %>selected="selected"<% } else { %>''<% } %> ><%= category.name %></option>
            <% } else { %>  
              <option value="<%= category._id %>"><%= category.name %></option>
            <% } %>
          <% } %>
        </select>
      </div>

      <input type="hidden" value="<%= store._id %>" name="store">

      <% if (editing) { %>
        <input type="hidden" value="<%= tower._id %>" name="tower_id">
      <% } %>

      <button class="btn btn-primary" type="submit"><% if (editing) { %>Update Tower<% } else { %>Add Tower<% } %></button>
    </form>
  </main>
<%- include('../includes/end.ejs') %>
